p Click the &ldquo;Next&rdquo; button on your computer to start playing the video and then click &ldquo;START&rdquo; below to begin rating.
/ or
p Click the &ldquo;START&rdquo; button below to begin rating and then click the &ldquo;Next&rdquo; button on your computer to start playing the video.

= link_to "Next", survey_path(id: :thankyou), class: :btn
