body { font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 2em; }
iframe { width: 122vh; height: 111vh; }
hr { color: #003366; background-color: #003366; height: 2px; }

input[type=text] { border: solid 1px #003366; font-size: inherit; }

@mixin background-gradient($color1, $color2) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, $color1), color-stop(1, $color2));
  background: -webkit-linear-gradient(top, $color1 5%, $color2 100%);
  background: -moz-linear-gradient(top, $color1 5%, $color2 100%);
  background: -ms-linear-gradient(top, $color1 5%, $color2 100%);
  background: -o-linear-gradient(top, $color1 5%, $color2 100%);
  background: linear-gradient(to bottom, $color1 5%, $color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2',GradientType=0);
  background-color: $color1;
}

button[type=submit], .btn {
  display: block;
  color: #14396a;
  @include background-gradient(#63b8ee, #468ccf);
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  border: 1px solid #3866a3;
  border-radius: 6px;
  cursor: pointer;
  margin: 1.5em 0 0;
  padding: 0.25em 1em;
  font-size: 70%;
  text-decoration: none;
  text-align: center;
  &:hover { @include background-gradient(#468ccf, #63b8ee); }
  &:active { position: relative; top: 1px; }
}
a.btn {
  display: inline-block;
}

.rate {
  display: flex;
  height: 100%;
  width: 100%;
  button {
    display: inline-block;
    border-radius: 6px;
    cursor: pointer;
    padding: 2em 0.75em;
    font-size: 120%;
    text-decoration: none;
    text-align: center;
    &:active { position: relative; top: 1px; outline: none; }
    &:focus { outline: none; }
    &.pos {
      color: #333300;
      @include background-gradient(#009933, #006633);
      box-shadow: inset 0px 1px 0px 0px #00cc66;
      border: 1px solid #006600;
      &:hover { @include background-gradient(#006633, #009933); }
    }
    &.neg {
      color: #330000;
      @include background-gradient(#ff0000, #990033);
      box-shadow: inset 0px 1px 0px 0px #ff3333;
      border: 1px solid #990000;
      &:hover { @include background-gradient(#990033, #ff0000); }
    }
  }

  time {
    display: inline-block;
    height: 100%;
    margin: 1em auto;
    padding: 1em;
    font-size: 200%;
    font-weight: bold;
  }
}

.error { color: red; background-color: yellow; font-style: normal; font-weight: bold; text-transform: uppercase; }
.hero { text-align: center; font-size: 300%; }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 95;
    background: black;
    opacity: 0.85;
  }
  .content {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    overflow: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.7);
    text-align: center;
    border-radius: 4px;
    width: 520px; /* This just a default width */
  }
  .close {
    margin: 0 auto;
    transition: opacity 0.2s ease;
  }
}

@media only screen {
  @media (max-device-width: 667px) { // phone
    iframe { width: 95%; height: 700px; }
    @media (orientation: portrait) {
      body { font-size: 28pt; }
    }
    @media (orientation: landscape) {
      body { font-size: 24pt; }
    }
  }

  @media (min-device-width: 667px) and (max-device-width: 1024px) { // tablet
    @media (orientation: portrait) {
      body { font-size: 26pt; }
    }
    @media (orientation: landscape) {
      body { font-size: 15pt; }
    }
  }

  @media (min-width: 1025px) { // desktop rules here
    body { font-size: 13pt; }
  }
}
